{% extends "layout.html" %}
{% block css %}
    <style>
        .hide{
            display: none;
        }
        .shadow{
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: black;
            opacity: 0.4;
            z-index: 999;
        }
        .model{
            z-index: 1000;
            position: fixed;
            left: 50%;
            top: 50%;
            height: 300px;
            width: 400px;
            background-color: white;
            margin-left: -200px;
            margin-top: -150px;
        }
    </style>
{% endblock %}
{% block xx %}
<h1>学生信息</h1>
    <a href="/add_student/">添加学生</a>
    <button class="show" operate='add' class_id="{{ student_list.0.class_id }}">模态添加学生</button>
    <table border="1px">
        <tr>
            <th>id</th>
            <th>姓名</th>
            <th>班级</th>
            <th>操作</th>
            <th>模态操作</th>
        </tr>
        {% for row in student_list %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.title }}</td>
                <td><a href="/edite_student/?id={{ row.id }}">编辑</a>|<a>删除</a></td>
                <td><button class="show" operate="edite" class_id="{{ row.class_id }}" id="{{ row.id }}" value="{{ row.name }}">编辑</button>|
                    <button class="show" operate="del" class_id="{{ row.class_id }}" id="{{ row.id }}" value="{{ row.name }}">删除</button></td>
            </tr>
        {% endfor %}
    </table>
    <div class="hide shadow handel"></div>
    <div class="hide model handel">
        <h2></h2>
        <p>姓名<input type="text" name="name"></p>
        <p>选择班级<select name="id">
            {% for foo in class_list %}
                <option value="{{ foo.id }}">{{ foo.title }}</option>
            {% endfor %}
        </select></p>
        <button onclick="Ajaxsend()">确认</button>
        <button onclick="hiden()">取消</button>
    </div>
{% endblock %}
{% block js %}
<script src="/static/jquery-3.2.1.js"></script>
    <script>
        var $operate,$id;
        $(".show").click(function () {
            $(".handel").removeClass("hide");
            var $text=$(this).text();
            $("h2").text($text);
            $('[name="name"]').val($(this).val());
            $operate=$(this).attr("operate");
            $id=$(this).prop("id");
            $("select").val($(this).attr("class_id"));
            console.log($("select").text());
        });
        function hiden() {
            $(".handel").addClass("hide")
        }
        function Ajaxsend() {
            $.ajax({
                url:'/model_modify_student/',
                type:"POST",
                data:{"title":$('[name="name"]').val(),"class_id":$("select").val(),
                    "operate":$operate,"student_id":$id},
                success:function (data) {
                    if (data=="ok"){
                        location.href='/student/'
                    }
                    else{
                        alert("请正确输入信息！！！")
                    }
                }
            })
        }
    </script>
{% endblock %}
